html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff8e1;
}

.chat-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  width: 100%;
}

.message-row {
  display: flex;
}

.message-row.left {
  justify-content: flex-start;
}

.message-row.right {
  justify-content: flex-end;
  padding-right: 40px; /* 增加右側內邊距 */
}

.message-bubble {
  padding: 16px 20px;
  border-radius: 20px;
  max-width: 60%;
  font-size: 1.3rem;
  line-height: 1.8em;
  word-break: break-word;
}

.message-bubble.user {
  background-color: #d79392;
  color: #333;
}

.message-bubble.ai {
  background-color: #88bb35;
  color: #000;
  font-weight: bold;
}

.play-button {
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 0.9rem;
  background-color: #84a84a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input-container {
  display: flex;
  padding: 12px 20px;
  border-top: 1px solid #ffd54f;
  background-color: #fff3e0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; /* 垂直居中對齊 */
}

.input-container button {
  background-color: #ce7633;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
}

.input-container button.recording {
  background-color: #d79392; /* 錄音中顏色變粉紅 */
}

.text-input {
  flex: 1; /* 讓輸入框填滿剩餘空間 */
  padding: 12px 20px; /* 增加內邊距 */
  font-size: 1.2rem; /* 調整字體大小 */
  border: 1px solid #ccc; /* 添加邊框 */
  border-radius: 15px; /* 圓角邊框 */
  margin-right: 10px; /* 與按鈕保持間距 */
  box-sizing: border-box; /* 包含內邊距在寬度內 */
}